<h1 i18n="@@appTitle">Workshops App</h1>
<hr />
<div>
  <p i18n="@@greeting">Welcome to Workshops App</p>

  <p i18n="@@introPara1">
    The app serves details of (fictitious) technical workshops happening in
    various cities. Every workshop has a broad topic (eg. JavaScript), and a
    workshop has many sessions (each session covers a sub-topic, eg. Closures in
    JavaScript).
  </p>

  <p i18n="@@introPara2">
    You can view a list of workshops, details of every workshop, add a workshop,
    view the list of sessions in a workshop, and also add a new session for a
    workshop.
  </p>
</div>
