<div>
    You are logged in to a page which only authenticated users can view.. You can use all the privileged features in this app now.
    <form action="/logout" method="post" id="logout-form">
        <button id="logout-button">Logout</button>
    </form>
</div>