<!-- Alternative to *ngIf -->
@if(loading) {
    <app-loading-spinner variant="success"></app-loading-spinner>
} @else if( !loading && error ) {
    <app-error-alert [error]="error"></app-error-alert>
} @else {
    <div class="row">
        @for ( workshopItem of workshops; track workshopItem.id ) {
            <div class="col-12 col-lg-4 my-3 d-flex">
                <app-item [workshop]="workshopItem"></app-item>
            </div>
        }
    </div>
    <!-- <div *ngFor="let workshop of workshops">{{ workshop.name }}</div> -->
}